<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/starter-template.css" rel="stylesheet">


    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    
    <script type="text/javascript" src="/js/jquery-3.1.1.js"></script>
    

    
  </head>

  <body>
    
    <div class="row capTwo">
      <div class="col-md-2">
        <div id="name"><a href="{% url 'index' %}"> AskIlja </a></div>
      </div>
      <form role="form">
        <div class="col-md-1">
        <a href="{% url 'ask' %}"><button type="button" class="btn btn-success">Ask!</button></a>
      </div>
      </form>
      
      {% if user.is_authenticated %}
      <div class="col-md-1" id="imag">
        <img class="capTwo" src="{{ user.author.image.url }}" alt="Avatar" class="img-rounded">
      </div>
      <div class="col-md-3">
        {{ user.username }}<br>
        <a href="{% url 'setting' %}">setting</a>
        <a href="{% url 'logout' %}?continue={{ request.path }}">log out</a>
      </div>
      {% else %}
      <div class="col-md-4 noName">
        <a href="{% url 'login' %}?continue={{ request.path }}">login</a>
        <a href="{% url 'signup' %}">register</a>
      </div>
      {% endif %}
    </div>
    <hr>

    <div class="row">
      <div class="col-md-9">
        {% block cap %} {% endblock %}
        {% block content %} {% endblock %}
    
        </div>
      
      <div class="col-md-3">
        <div class="tags">
          Popular tags<br>
          {% for tag in popular_tags %}
          <a href="{% url 'tag' tag.name %}"> {{ tag.name }} </a>
          {% endfor %}
        </div>
        <div class="members">
          Best members<br>
          {% for member in members %}
          {{ member }}<br>
          {% endfor %}
        </div>
      </div>
    </div>

  </body>


<script>
    
  $('.js-like').on('click', function() {
    
    var $btn_ql = $(this);
    $.ajax({
      url: '/like/',
      method: 'POST',
      data: {
        id: $btn_ql.data('id'),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      } 
    }).done(function(resp) {
      if (resp && resp.status == 'ok') {
        console.log('778');
        window.location.reload();
      }
      else {
        alert('no');
      }
    });
  });

  $('.js-dislike').on('click', function(){
    var $btn_qd = $(this);
    $.ajax({
      url: '/dislike/',
      method: 'POST',
      data: {
        id: $btn_qd.data('id'),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      }
    }).done(function(resp){
      if (resp && resp.status == 'ok') {
        window.location.reload();
      }
      else {
        alert('no')
      }
    });
  });

  
  $('.js-like-answer').on('click', function() {
    
    var $btn_al = $(this);
    $.ajax({
      url: '/like_answer/',
      method: 'POST',
      data: {
        id: $btn_al.data('id'),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      } 
    }).done(function(resp) {
      if (resp && resp.status == 'ok') {
        console.log('778');
        window.location.reload();
      }
      else {
        alert('no');
      }
    });
  });

  $('.js-dislike-answer').on('click', function(){
    var $btn_ad = $(this);
    $.ajax({
      url: '/dislike_answer/',
      method: 'POST',
      data: {
        id: $btn_ad.data('id'),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      }
    }).done(function(resp){
      if (resp && resp.status == 'ok') {
        window.location.reload();
      }
      else {
        alert('no')
      }
    });
  });

  $('.correct').on('click', function(){
    var $correct = $(this);
    
    $.ajax({
      url: '/correct/',
      method: 'POST',
      data: {
        id: $correct.data('id'),
        csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
      }
    }).done(function(resp){
      if (resp && resp.status == 'ok') {
        
        console.log('778');
      }
      else {
        alert('no')
      }
    });
  });
</script>

</html>
