
{% extends "base1.html" %}



{% block cap %}
  <div class="capThree">New Questions<a href="{% url 'hot' %}"> Hot questions</a></div>
{% endblock %}
{% block content %}
{% for question in page %} 
  <div class="question">
    <div class="row">
      <div class="col-md-2">
        <img class="avatar" src="/r.jpg" alt="Avatar" class="img-rounded">
        <div class="btn-group btn-group-sm">
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-down"></span></button>
          <button type="button" class="btn btn-default disabled">{{ question.likes }}</button>
          <button type="button" class="btn btn-default"><span class="glyphicon glyphicon-arrow-up"></span></button>
        </div>
      </div>
      <div class="col-md-10">
        <a class="question" href="{% url 'question' question.number %}"> {{ question.title }} </a>
        <br>
        {{ question.text }}<br>
        <a class="number" href="{% url 'question' question.number %}"> Answer (7)</a> Tags:  {% for tag in question.tags %}<a href="{% url 'tag' tag %}"> {{tag}}, </a>{% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}

  {% block paginator %}
    {% url "index" as start_url %}
    {% include "./paginator.html" %}
  {% endblock %}
        
{% endblock %}