

{% extends "base1.html" %}

{% block content %}
<div class="capThree">Settings: Dr. Pepper</div>
  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label designation">Login</label>
      <div class="col-sm-7">
        <p class="form-control-static">dr_pepper</p>
      </div>
    </div>
    <div class="form-group has-error">
      <label for="inputPassword3" class="col-sm-3 control-label designation">Email</label>
      <div class="col-sm-7">
        <input type="text" maxlength="48" class="form-control input-lg" autocomplete="dr.pepper@mail.ru" id="inputError1">
      </div>
      <label class="control-label col-sm-2" for="inputError1">Input Error</label><br>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label designation">NikeName</label>
      <div class="col-sm-7">
        <input type="text" maxlength="48" class="form-control input-lg" autocomplete="Dr. pepper">
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail3" class="col-sm-3 control-label designation">Upload avatar</label>
      <div class="col-sm-7 input-group adress">
        
        <input type="text" class="form-control input-lg setting" placeholder="Enter adress of avatar">
        <span class="input-group-btn">
          <button class="btn btn-lg setting" type="button" id="choose">Choose</button>
        </span>
      </div>
      <img class="setting col-sm-offset-3" src="r.jpg" alt="Avatar" class="img-rounded">
    </div>
    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9 adress">
        <button type="submit" class="btn btn-lg">Save</button>
      </div>
    </div>
  </form>
{% endblock %}